src/main/resources/Item.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="Item">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="color" type="Color"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Color">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Red"/>
            <xs:enumeration value="Black"/>
            <xs:enumeration value="Blue"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>